
h2 {
  background-color: #3399ff;
  color: white;
}

p {
  background-color: #99ccff;
}

.titolo {
  padding: 20px;
  border: 1px solid black;
}

.descrizione {
  padding: 20px;
  border: 1px solid black;
}
